<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Task2WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Task2WinForms.Properties.Settings>
            <setting name="difficultyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vialsCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="segmentsCount" serializeAs="String">
                <value>5</value>
            </setting>
        </Task2WinForms.Properties.Settings>
    </userSettings>
</configuration>